@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Lora&display=swap"); */

/* ******************
    Global styles
**********************/
:root {
  --primary-color: #6937ff;
  --secondary-color: #221e41;
  /* --background-color: #fdfdfe; */
  --background-color: #f0f2f5;
  --navbar-color: #ffffff;
  --link-color: #0088ff;
}

html {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* font-size: 18px;
  font-size: 1.8rem; */
  font-family: "Open Sans", sans-serif;
  background: var(--background-color);
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

a:hover:not(.btn, .social-media a, nav a),
a:active:not(.btn, .social-media a, nav a) {
  opacity: 0.7;
}

button {
  font-family: inherit;
  cursor: pointer;
}

section {
  padding: 100px 0;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

label {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  margin-bottom: 0.5rem;
  color: var(--background-color);
  font-size: 20px;
  font-size: 2rem;
}

/* ******************
    Headers
**********************/

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 0.8rem;
  font-size: 50px;
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -1px;
  text-align: center;
  text-rendering: optimizelegibility;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 34px;
  font-size: 3.4rem;
  line-height: 1.2;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 1.6rem;
  text-rendering: optimizelegibility;
}

/* h3 {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-bottom: 1.6rem;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.3;
} */

p {
  margin-bottom: 2.4rem;
  line-height: 1.7;
  font-size: 20px;
  font-size: 2rem;
}

.title-line {
  border: none;
  width: 60px;
  height: 2px;
  margin-bottom: 60px;
  background-color: #ef4b6c;
}
/* ******************
    Flex row and column
**********************/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
}

/* ******************
    Button
**********************/
.btn {
  display: inline-block;
  position: relative;
  font-weight: 600;
  font-size: 20px;
  font-size: 2rem;
  line-height: 20px;
  padding: 15px 20px;
  margin: 10px 0;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  border: 4px solid var(--primary-color);
  color: var(--primary-color);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 12px;
  -webkit-transition: 0.3s;
  transition: all 400ms;
  text-decoration: none;
  text-transform: uppercase !important;
}

.btn:hover {
  background: var(--primary-color);
  color: white;
}

/* ******************
    Hero
**********************/

.hero {
  display: relative;
  text-align: center;
  padding: 0;
  overflow: hidden;
  border-bottom: #dddddd solid 1px;
}

/*********** Navbar **********/
.navbar-wrapper {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  background: none;
}

@keyframes fadeIn {
  0% {
    background: none;
    border-bottom: rgba(221, 221, 221, 0) solid 1px;
  }

  100% {
    background: var(--navbar-color);
    border-bottom: #dddddd solid 1px;
  }
}
.navbar-transparent .navbar {
  animation: fadeIn 100ms ease-in;
  background: var(--navbar-color);
  border-bottom: #dddddd solid 1px;
}

.navbar {
  padding: 1em;
  width: 100%;
  height: 25px;
}

nav {
  display: none;
  position: fixed;
  z-index: 3;
  width: 100%;
  right: 0;
  top: 0;
  background: var(--navbar-color);
  border-bottom: #858585 solid 1px;
}

.navbar .mobile-menu {
  width: 30px;
  cursor: pointer;
  right: 20px;
  top: 10px;
  position: absolute;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  border: #dddddd solid 1px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s ease 0s;
}

.nav-links li a {
  transition: all 0.5s ease 0s;
  height: 100%;
}

nav.menu-btn {
  display: block;
}

nav ul.nav-links {
  margin-top: 5em;
  margin-bottom: 0;
  padding: 0;
}

nav ul.nav-links li a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-size: 2rem;
  line-height: 2.5em;
  text-align: center;
}

.mobile-menu-exit {
  width: 40px;
  cursor: pointer;
  right: 15px;
  top: 11px;
  position: absolute;
}

.shift ul li a {
  position: relative;
  z-index: 1;
}
.shift ul li a:hover {
  color: white;
}
.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: var(--primary-color);
  background-size: cover;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.shift ul li a:hover::after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/********** Hero text **********/
.hero-text {
  color: black;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-between;
  width: fit-content;
  max-width: 90%;
  pointer-events: none;
}

.hero-text h1,
.hero-text p,
.hero-text .call-to-action {
  pointer-events: all;
}

.hero-text h1 {
  margin-bottom: 15px;
  margin-top: 0;
}

.hero-text p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  margin-bottom: auto;
}

/*********** Call to action ***********/
.call-to-action {
  justify-content: center;
}

.call-to-action .btn i {
  padding-right: 10px;
}

/* ****************
        About
 ***************** */
.profile-img {
  text-align: center;
  align-items: center;
}
.profile-img img {
  height: 250px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.profile-img-description {
  font-size: 1.1rem;
  line-height: 1.7;
}

.btn-wrapper {
  text-align: center;
  margin-top: 5rem;
}

.contact-form .btn {
  background: #00adff;
  color: white;
  border: none;
}

.contact-form .btn:hover {
  background: rgba(0, 173, 255, 0.7);
  color: #fff;
}

/* **********************
        Publications 
**************************/

.papers-wrapper {
  position: relative;
  margin: 0;
}

.papers {
  position: relative;
  padding: 0 0 0 0;
}

.paper {
  position: relative;
  padding: 10px;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
  margin: 10px 0;
  max-width: 525px;
}

.paper-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  color: transparent;
  font-size: 1.2em;
}

.paper-title p {
  margin: 0;
}

.paper:hover .paper-title {
  transition: 0.5s;
  color: white;
  width: 85%;
  font-size: 1.2em;
}

.paper-background {
  position: relative;
}

.paper-background img {
  width: 100%;
}
.paper-caption {
  margin: 0 auto;
  font-size: 1.1em;
  font-weight: 600;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
}

.paper-background-darken img {
  transition: 0.5s;
  filter: brightness(10%);
}

/* Papers modals */
.paper-modal {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 1000;
  width: 100%;
  overflow: auto;
  max-height: 80%;
  background-color: #fdfdfe;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

/* Scroll bar in modal */
.paper-modal::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 8px;
  background-clip: padding-box;
}

.paper-modal::-webkit-scrollbar {
  width: 7px;
}

.paper-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.paper-modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.paper-modal-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.paper-modal .modal-close-btn {
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  padding: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.modal-close-btn img {
  width: 50px;
  height: 50px;
}

.paper-modal .paper-modal-body {
  padding: 10px 10px;
  font-size: 15px;
  font-size: 1.5rem;
}

.paper-modal-body .btn-wrapper {
  margin-top: 40px !important;
  margin-bottom: 40px;
}

.paper-modal-body .btn-wrapper .btn {
  margin: 10px;
}

.paper-modal-field {
  font-weight: 600;
}

.paper-modal-value {
  margin-bottom: 16px;
}

/* ********* Overlay ******* */

#overlay {
  position: fixed;
  z-index: 5;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  text-align: center;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#overlay p {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  color: white;
  font-weight: 600;
  padding-bottom: 10px;
}

/* ******************
 Contact me 
 ************** */

.contact-me {
  background-color: var(--secondary-color);
  margin-top: 180px;
  padding-bottom: 20px;
}

.contact-me p {
  text-align: center;
  color: var(--background-color);
  margin-top: 0;
}

.contact-me .contact-me-header {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-bottom: 1.6rem;
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.3;
  width: 100%;
  color: var(--background-color);
  text-align: center;
  padding-bottom: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-in-touch,
.contact-form {
  width: 90%;
  max-width: 600px;
  margin-bottom: 20px;
}

textarea {
  margin-bottom: 5px;
  min-height: 150px;
}
textarea,
input {
  border: #ccc solid 1px;
  box-sizing: border-box;
  display: block;
  font-size: 12pt;
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
  border-radius: 3px;
}

.form-group {
  margin-bottom: 20px;
}

.contact-me .btn-wrapper {
  margin-top: 3rem;
}

.footer-wrapper .column {
  padding: 0;
  justify-content: center;
}

.footer-wrapper {
  margin-bottom: 15px;
}

.copyright-text {
  font-size: 16px;
  font-size: 1.6em;
  margin: 0;
}

.copyright-text a:hover,
.get-in-touch a:hover,
.copyright-text a:active,
.get-in-touch a:active {
  opacity: 0.7;
}

.footer-hr {
  margin: 40px 0 0 0;
}

/* ******** Social media links ******** */
ul.media-icons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 30%;
  outline: none;
  text-decoration: none;
  border: 2px solid var(--background-color);
}

.hero-text ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.social-media ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

.list-item:not(:last-child) {
  margin-right: 1.5rem;
}

.fa:not(.fa-angle-down, .fa-arrow-left),
.ai {
  /* background: #121117; */
  color: var(--background-color);
  background: none;
}

ul.media-icons li a:hover {
  /* color: var(--link-color);
  border-color: var(--link-color); */
  color: #00adff;
  border-color: #00adff;
}

/* .fa-facebook:hover {
  background: #3b5998;
} */

/* .fa-linkedin:hover {
  background: #007bb5;
} */

/* .fa-github:hover,
.fa-github:hover a {
  background: white;
  color: black;
}

.fa-youtube:hover {
  background: #bb0000;
}

.fa-envelope:hover {
  background: blue;
}

.ai-google-scholar:hover {
  background: rgba(66, 133, 244, 255);
} */

/* **************************
 Responsive editions 
 *****************************/
@media only screen and (max-width: 280px) {
  h1 {
    margin-bottom: 0.8rem;
    font-size: 35px;
    font-size: 3.5rem;
  }

  h2 {
    font-size: 30px;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1.4rem;
  }

  p {
    font-size: 15px;
    font-size: 1.5rem;
  }

  .contact-me-header {
    margin-bottom: 1.2rem;
    font-size: 25px;
    font-size: 2.5rem;
    line-height: 1.1;
  }

  .btn {
    font-size: 14px;
    font-size: 1.4rem;
    padding: 10px 15px;
    margin: 10px 0;
  }

  .hero-text {
    top: 20%;
  }

  .paper-title p {
    font-size: 1rem;
    line-height: 1.2;
    margin: 0;
  }

  nav ul.nav-links li a {
    font-size: 16px;
    font-size: 1.6rem;
  }

  #overlay p {
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  .profile-img img {
    height: 160px;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 65px;
    font-size: 6.5rem;
  }

  h2 {
    font-size: 50px;
    font-size: 5rem;
  }

  .contact-me-header {
    font-size: 40px;
    font-size: 4rem !important;
  }

  .btn {
    font-size: 18px;
    font-size: 1.8rem;
  }

  .hero-text {
    top: 32%;
    height: 50vh;
  }

  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar-wrapper {
    left: 0;
    text-align: center;
    transition: all 300ms ease-in-out;
  }
  .nav-links li {
    border: none;
  }
  .navbar {
    background: none;
    display: inline-block;
    width: 100%;
  }
  .navbar nav {
    display: flex;
    justify-content: center;
    place-content: center;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    border-bottom: unset;
  }
  .navbar nav ul {
    display: flex;
  }
  nav ul.nav-links li a {
    color: black;
    font-size: 16px;
    font-size: 1.6em;
    line-height: unset;
    padding: 0.1em 1em;
  }
  nav ul.nav-links a {
    width: 20;
  }
  nav ul.nav-links {
    margin: 0;
    position: center;
    padding-inline-start: 0;
  }

  /* SHIFT */
  .shift ul li a {
    position: relative;
    z-index: 1;
  }
  .shift ul li a:hover {
    color: white;
  }
  .shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: ".";
    color: transparent;
    background: var(--primary-color);
    background-size: cover;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  .shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }

  .description-wrapper {
    display: flex;
    align-items: center;
  }
  .profile-img {
    padding-right: 3em;
  }

  .profile-img img {
    width: 300px;
    height: 300px;
  }

  /* .contact {
    flex-direction: row;
  } */
  /* .get-in-touch,
  .contact-form {
    flex: 50%;
  } */
  /* .get-in-touch {
    margin-right: 20px;
  } */
  /* .contact-me .contact-me-header {
    width: 50%;
    text-align: left;
  } */

  .contact-me .btn-wrapper {
    margin-top: 0;
    align-items: right;
  }

  .footer-wrapper .column:not(.social-media) {
    align-items: flex-start;
  }

  .send-btn {
    float: right;
  }

  .social-media {
    align-items: flex-end;
  }

  .paper-modal {
    width: 90%;
    max-width: 1300px;
  }

  .paper-modal-field {
    width: 150px;
    float: left;
    text-align: right;
  }

  .paper-modal-value {
    margin-left: 160px;
    margin-right: 10px;
  }

  .paper-modal-title {
    font-size: 24px;
    font-size: 2.4rem;
  }

  .paper-modal .paper-modal-body {
    font-size: 18px;
    font-size: 1.8rem;
  }

  #overlay p {
    display: none;
  }

  #overlay {
    background-color: rgba(143, 143, 143, 0.5);
  }

  .column {
    flex: 1;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 1366px) {
  h1 {
    font-size: 80px;
    font-size: 8rem;
  }

  h2 {
    font-size: 55px;
    font-size: 5.5rem;
  }

  .contact-me-header {
    font-size: 40px;
    font-size: 4rem;
  }

  .hero-text {
    /* top: 32%; */
    height: 30vh;
  }
}
